<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.josceyn.walkerapp">

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Walker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Smart Walker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <!--
                <meta-data android:name="android.hardware.usb.action.USB._DEVICE_ATTACHED"
                android:resource="@values/device_filter"/>
            -->


            <!--
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
            -->

        </activity>
        <activity
            android:name=".StudentDetail"
            android:label="@string/title_activity_student_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDisplay"
            android:label="Smart Walker Display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserGraph"
            android:label="@string/title_activity_user_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminView"
            android:label="@string/title_activity_admin_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminGraph"
            android:label="@string/title_activity_admin_graph"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
